.carousel-tabs { clear: both; }
.carousel-active-tab { color: red; }
.carousel-disabled,
.slidewrap2 .carousel-tabs {
  padding: 0;
  margin: 1em 0;
  clear: both;
}
.slidewrap2 .carousel-tabs li {
  display: inline-block;
  padding: 0 2px;
}
.slidewrap2 .carousel-tabs a {
  background: #ddd;
  display: inline-block;
  height: 10px;
  text-indent: -9999px;
  width: 10px;
  border-radius: 5px;
}
.ie .slidewrap2 .carousel-tabs li,
.ie .slidewrap2 .carousel-tabs a {
  display: block;
  float: left;
}
.slidewrap2 .carousel-tabs .carousel-active-tab a {
  background: #777;
}

.slidewrap2 ul { margin: 0; padding: 0; list-style: none; }
